body {
    background: #edf0f2;
}

.background-white {
    background: white;
    border-radius: 3px;
}

.card {
    border-width: 0;
    transition: linear 0.2s;
}
.card:hover {
    background: #f4f5f7;
}



.card-icon img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    transform: translate(-50%, -50%);
}
.card-outline {
    border-width: 1px;
    border-color: #8ac149;
    background-color: #e8f5e9;
}

.card-outline img {
    width: 24px;
    height: 24px;;
}